@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #111111;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}